# Arquivos de histórico, ambiente e dados do R/RStudio
.Rhistory
.RData
.Rproj.user/

# Arquivos gerados pelo R Markdown
*.html
*.rds

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Biblioteca privada do renv - MUITO IMPORTANTE!
# O arquivo renv.lock é o que garante a reprodutibilidade.
renv/library/
renv/staging/
